@charset "utf-8";

h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    font-style: italic;
    text-align: center;
    font-size: 50px;
    color:rgb(242, 242, 250)
}
h2{
    color: white;
    font-size: 30px;
}
img.lado {
    float:right
}
img.centro {
    float:initial;
    align-items: center;
}
body{
<<<<<<< Updated upstream
    background-color:rgb(146, 5, 151);
=======
    background-image: linear-gradient(to right top, rgb(207, 240, 20),rgb(156, 8, 107));
>>>>>>> Stashed changes
}

