@charset "utf-8";

h1,h2{
    font-family:Arial,, sans-serif;
    text-shadow: 1px 3px 2px rgb(83, 8, 58);
    text-align: center;
    font-size: 40px;
    color:rgb(242, 242, 250)
}

img.lado {
    box-shadow: 2px 2px 3px rgb(83, 8, 58);
    float:right
}

img.centro {
    width: 300; height: 300;
    box-shadow: 2px 2px 3px rgb(83, 8, 58);
}
video{
    box-shadow: 3px 3px 3px rgb(83, 8, 58); 
}
main {

    border-radius: 10px;
    width: 1080px;
    margin: auto;
    padding: 20px;
    background-image: linear-gradient(to right top, rgb(207, 240, 20),rgb(156, 8, 107));
}
p {
    font-family: Arial, sans-serif;
    font-size: 20px;
    text-align: justify;
}
body{
    background-image: linear-gradient(to right  top, rgb(144, 208, 233),rgb(255, 0, 0));
}

