@charset "utf-8";

h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    font-style: italic;
    text-align: center;
    font-size: 50px;
    color:rgb(242, 242, 250)
}
h2{
    color: white;
    font-size: 30px;
}
img.lado {
    float:right
}
img.centro {
    float:initial;
    align-items: center;
}
body{
    background-color:rgb(48, 15, 196);
}

